[
    {kernel,
        [{logger_level, debug},
            {logger,
                [
                    {handler,
                        ratel_default,
                        logger_std_h,
                        #{
                            level => debug,
                            config => #{
                                type => standard_io,
                                sync_mode_qlen => 500,
                                drop_mode_qlen => 1000,
                                flush_qlen => 20000,
                                burst_limit_enable => true,
                                burst_limit_max_count => 500,
                                burst_limit_window_time => 1000                                
                            },
                            formatter => {
                                logger_formatter, #{
                                    template => [time, " ", level, ": ", pid, " [", mfa, "-", line, "] ", msg, "\n"],
                                    single_line => true
                                }
                            },
                            filters => []
                        }
                    }
                ]
            }
        ]
    }
].
